force-app/main/default/flows/PolicyCondition_vSXRLAyFCOdHUvJIpHNv.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15) AND 1</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0052v00000dXQP7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FavoriteProperty__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PortalSitePostingProperty__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PortalSitePostingPropertyDifference__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BuildingPropertyDifference__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BuildingPropertyDifferencePhoto__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BuildingPropertyDifferenceCreateTarget__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyMapParameter__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyMaintenanceHistory__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyPhoto__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyDifference__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyConditions__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PropertyManageCompayItem__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_vSXRLAyFCOdHUvJIpHNv</interviewLabel>
    <label>PolicyCondition_vSXRLAyFCOdHUvJIpHNv</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportEvent</objectType>
    </variables>
</Flow>
